
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Hellow @ViewBag.Greeting <br /> </p>
        @ViewBag.MyFirstViewBag
        <p> This is going to be so intersting,<br /> 
        Now I am Going to add a RSVP Form to the this project</p>
        @Html.ActionLink("Click My RSVP Form","RsvpForm")
    </div>
</body>
</html>
