@model MVC_Hunting.Models.MyFirstModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <h3>This is a Data Entry Form. This will collect your attendes details for an Event</h3>
        <p>Your Name : @Html.TextBoxFor(x => x.Name)</p>
        <p>Your Email : @Html.TextBoxFor(x => x.Email)</p>
        <p>Your Phone Number : @Html.TextBoxFor(x => x.PhoneNumber)</p>
        <p>
            Will You Attend?
            @Html.DropDownListFor(x => x.WillAttend, new[]
        {
            new SelectListItem(){Text = "Yes",Value = bool.TrueString},
            new SelectListItem(){Text = "No",Value = bool.FalseString}
        }, "Choos One"

        )
        </p>
    <input type="submit" value="Submit Data"/>        
    }
</body>
</html>
